.country-container{
    border: 1px solid goldenrod;
    border-radius: 10px;
    /* display: grid;
    grid-gap: 0; */
    position: relative;

}

.country-container img{
    padding: 0 10px 0 10px;
}

.country-container button{
    background-color: lightblue;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.country-container button:hover{
    background-color: lightgreen;
}
